.career {

  background-image: linear-gradient(rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)),
    url("../bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
  inset: 0;
}

.career .form {

  border-radius: 7px;
  padding: 1.2rem 3rem;
  background-color: rgb(53, 66, 48, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  color: azure;
  /* Different from other form */
  width: 20rem;
  margin: auto;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  gap: 0.5rem;
}

.row label {
  color: white;
}

.row input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: none;
}

.form button {
  background-color: rgb(60, 179, 113);
  text-transform: uppercase;

  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}