.homePage {
  background-image: linear-gradient(rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)),
    url("../bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
  inset: 0;
}

.homePage h1 {
  color: aliceblue;
  text-align: center;
}

.homePage button {
  padding: 15px 30px;
  background-color: olivedrab;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  height: calc(100vh - 5rem);


}

.container button:hover {
  box-shadow: 0 0 10px 4px rgba(2, 92, 84, 0.8);
}