.homePage {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../bg.jpg");
  background-position: center;

  overflow: hidden;
  position: fixed;
  inset: 0;
}
