.loginBackground {

  background-image: linear-gradient(rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)),
    url("../login2.jpg");
  position: fixed;
  overflow: auto;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

}

.form {
  border-radius: 7px;
  padding: 1rem 3rem;
  background-color: rgb(53, 66, 48, 0.8);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: azure;
  /* Different from other form */
  width: 20rem;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  gap: 0.5rem;
}

.form button {
  background-color: rgb(60, 179, 113);
  text-transform: uppercase;
  padding: 15px 35px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.form input {
  padding: 10px;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome h3 {
  font-size: 45px;
  margin: 0.5px;
}

.welcome p {
  font-size: 25px;
  margin: 0.5px;
}

.welcome {
  margin-bottom: 1px;
}